<!-- About Section -->
    <section id="about">
        <div class="container about-section">
            <div class="row">
              <div class="col-lg-12 text-center">
                  <p><%= image_tag('Dittoh 3-Color Logo Varations-02.jpg', class: 'about-logo') %></p>
              </div>
              <div class="text-center">
                  <h3 class="section-subheading">Dittoh uses Cloud Solutions and innovative technology to provide smarter, faster and better business solutions.</h3>
              </div>
              <div class="text-center">
                  <h3 class="section-subheading">The name Dittoh doesn’t refer to a specific out-of-the-box solution, but rather it refers to the company’s goal of repeatable success. </h3>
              </div>
              <div class="text-center">
                  <h3 class="section-subheading">Dittoh is unique because it cuts the layers of overhead and empty rhetoric that plague the technology industry by simplifying the process and singularly focusing on building a creative solution that solves real business problems.</h3>
              </div>
            </div>
        </div>
    </section>
