<!-- Home -->

<div class="cd-fixed-bg cd-bg-1" id="home">
  <div class="container">
    <h1 class="heading">Engineering Creative Solutions</h1>
    <a href="#" class="btn btn-xl btn-primary intro-button">Tell Me More</a>
  </div>
</div>


<!-- About -->
<div class="cd-scrolling-bg cd-color-1" id="about">
  <div class="cd-container container about-section">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="about-logo home-child">
                <%= image_tag('Dittoh 3-Color Logo Varations-02.png', class: 'about-logo') %></p>
            </div>
            <div class="text-center">
                <p class="section-subheading home-child">Dittoh uses cloud solutions and innovative technology to provide smarter, faster and better business solutions. The name Dittoh doesn’t refer to a specific out-of-the-box solution, but rather it refers to the company’s goal of repeatable success. Dittoh is unique because it cuts the layers of overhead and empty rhetoric that plague the technology industry by simplifying the process and singularly focusing on building a creative solution that solves real business problems.</p>
            </div>
        </div>
      </div>
  </div>
</div>


<!--
       <div class="container">
           <div class="intro-text text-center">
               <div class="intro-heading">Engineering Creative Solutions</div>
               <a href="#" class="btn btn-xl intro-button">Tell Me More</a>
           </div>
       </div> -->
