<!-- Services Section -->
    <section id="services">
        <div class="container services-section">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Services</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                        <%= fa_stacked_icon "code", base: "circle" %>
                    </span>
                    <h4 class="service-heading">Software Development</h4>
                    <p class="service-paragraphs">Build full-stack custom applications for businesses leveraging current technologies like Ruby on Rails, PostgreSQL & Heroku</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                        <%= fa_stacked_icon "cloud", base: "circle" %>
                    </span>
                    <h4 class="service-heading">Salesforce Implementation</h4>
                    <p class="service-paragraphs">Implement, customize & integrate Salesforce Sales and Service Cloud platforms with current business processes.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                          <%= fa_stacked_icon "desktop", base: "circle" %>
                    </span>
                    <h4 class="service-heading">Website Design</h4>
                    <p class="service-paragraphs">Develop custom websites and write content for businesses to take their online presence to the next level.</p>
                </div>
            </div>
        </div>
    </section>
