<!-- Services -->
<div class="cd-fixed-bg cd-bg-2" id="services">
  <h1 class="heading">Services</h1>
  <div class="cd-container container services-section">
        <div class="service text-center">
            <span class="fa-stack fa-5x">
                <%= fa_stacked_icon "code", base: "circle" %>
            </span>
            <h4 class="service-heading">Software Development</h4>
            <p class="service-paragraphs">Build full-stack custom applications for businesses leveraging current technologies like Ruby on Rails, PostgreSQL & Heroku</p>
        </div>
        <div class="service text-center">
            <span class="fa-stack fa-5x">
                <%= fa_stacked_icon "cloud", base: "circle" %>
            </span>
            <h4 class="service-heading">Salesforce Implementation</h4>
            <p class="service-paragraphs">Implement, customize & integrate Salesforce Sales and Service Cloud platforms with current business processes.</p>
        </div>
        <div class="service text-center">
            <span class="fa-stack fa-5x">
                  <%= fa_stacked_icon "desktop", base: "circle" %>
            </span>
            <h4 class="service-heading">Website Design</h4>
            <p class="service-paragraphs">Develop custom websites and write content for businesses to take their online presence to the next level.</p>
        </div>
  </div>
</div>

<!-- <div class="cd-scrolling-bg cd-color-2">

</div> -->
