<!-- Team Section -->

<!-- <div class="cd-fixed-bg cd-bg-3" id="team">
  <div class="team-heading heading">Team</div>
</div> -->

<div class="cd-scrolling-bg cd-color-3" id="team">
  <div class="cd-container container team-section">
        <h1 class="heading text-center">Team
        </h1>
        <div class="row team-members">
            <div class="col-sm-6">
                <div class="team-member">
                    <%= image_tag("paul_collins.jpg", class: "team-image img-circle img-responsive center-block") %>
                    <h2 class="member-name">Paul Collins</h2>
                    <p class="member-title"><strong><i>Software Developer</i></strong></p>
                    <ul class="list-inline social-buttons">
                      <li><a href="https://twitter.com/dittoh_llc" target="_blank"><i class="fa fa-twitter" target="_blank"></i></a>
                      </li>
                      <li><a href="https://www.facebook.com/paul.collins.750983" target="_blank"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li><a href="https://www.linkedin.com/in/paulbcollins"><i class="fa fa-linkedin" target="_blank"></i></a>
                      </li>
                  
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="team-member">
                    <%= image_tag("jason_square.png", class: "team-image img-circle img-responsive" ) %>
                    <h2 class="member-name">Jason Amerine</h2>
                    <p class="member-title"><strong><i>Software Developer</i></strong></p>
                    <ul class="list-inline social-buttons">
                      <li><a href="https://twitter.com/dittoh_llc" target="_blank"><i class="fa fa-twitter" target="_blank"></i></a>
                      </li>
                      <li><a href="https://www.facebook.com/amerine.19" target="_blank"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li><a href="https://www.linkedin.com/in/jasonamerine"><i class="fa fa-linkedin" target="_blank"></i></a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>

  </div>
</div>
