
// Color Variables
$primary_1: #2AAEBC;
$primary_2: #97FF7F;
$primary_3: #FF544F;
$primary_4: #FFFFFF;
$secondary_1: #000815;
$secondary_2: #383838;
$secondary_3: #B0BFBE;
$secondary_4: #EEEEDD;


// Brand Logo Files
$logo_image: 'background_image_1.jpeg';
