.cd-fixed-bg.cd-bg-2 {
  background: image-url("background_image_7.jpeg");
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


.cd-container.container.services-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.heading {
  // margin-bottom: 50px;
}

.cd-container .service {
  background-color: rgba(0, 8, 20, 0.75);
  margin: 10px;
  border-radius: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 10px;
  max-width: 400px;
}



.services-section h4.service-heading {
  color: $primary_4;
  margin: 20px;
}


.services-section p.service-paragraphs {
  color: $secondary_3;
  margin: 35px;
}

.services-section .fa-circle {
  color: $primary_4;
}

.services-section .fa-desktop {
  color: $primary_3
}

.services-section .fa-cloud {
  color: $primary_3
}

.services-section .fa-code {
  color: $primary_3
}
