/*
 * This is a manifest file that"ll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin"s vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You"re free to add application-wide styles to this file and they"ll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
 @import "normalize-rails/normalize";
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "./*";


 // Color Variables
 $primary_1: #2AAEBC;
 $primary_2: #97FF7F;
 $primary_3: #FF544F;
 $primary_4: #FFFFFF;
 $secondary_1: #000815;
 $secondary_2: #383838;
 $secondary_3: #B0BFBE;
 $secondary_4: #EEEEDD;


 // Brand Logo Files
 $logo_image: 'background_image_1.jpeg';


//Background Images

.navbar-header .navbar-brand {
   height: 48px;
   margin: 0px;
}


 /* navbar */
 .navbar-default {
   background-color: transparent;
   border-color: transparent;
   margin-bottom: 0px;
   padding-bottom:  0px;
   text-transform: uppercase;
   text-shadow: .5px .5px 0px $secondary_2;
 }


.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: $primary_2;
  border-color: $primary_2;
  text-shadow: .5px .5px 0px $secondary_2;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: $primary_4;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: $primary_2;
}



.navbar-default .nav li a {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: $primary_4;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: $primary_2;
  outline: none;
}

// .navbar-default .navbar-nav > .active > a {
//   border-radius: 0;
//   color: $primary_4;
//   background-color: $primary_2;
// }
//
// .navbar-default .navbar-nav > .active > a:hover,
// .navbar-default .navbar-nav > .active > a:focus {
//   color: $primary_4;
//   background-color: $primary_2;
// }


/*  Header  */
header {
  background: image-url($logo_image) center center;
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: $primary_4;
  text-shadow: .5px .5px 0px $secondary_2;
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}

header .intro-button {
  color: $primary_4;
  background-color: $primary_1;
  border-color: $primary_1;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.intro-button:hover,
.intro-button:focus,
.intro-button:active,
.intro-button.active,
.open .dropdown-toggle.intro-button {
  color: $primary_2;
  background-color: $primary_3;
  border-color: $primary_3;
}
.intro-button:active,
.intro-button.active,
.open .dropdown-toggle.intro-button {
  background-image: none;
}
.intro-button.disabled,
.intro-button[disabled],
fieldset[disabled] .intro-button,
.intro-button.disabled:hover,
.intro-button[disabled]:hover,
fieldset[disabled] .intro-button:hover,
.intro-button.disabled:focus,
.intro-button[disabled]:focus,
fieldset[disabled] .intro-button:focus,
.intro-button.disabled:active,
.intro-button[disabled]:active,
fieldset[disabled] .intro-button:active,
.intro-button.disabled.active,
.intro-button[disabled].active,
fieldset[disabled] .intro-button.active {
  background-color: $primary_1;
  border-color: $primary_1;
}
.intro-button .badge {
  color: $primary_1;
  background-color: $primary_4;
}











@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}

/*   About   */
section#about {
  min-height: 100vh;
  padding: 75px;

}

section#about .container {
  display: flex;
  align-items: center;
}


section#about .about-section .about-logo:empty {
  height: 180px;
  margin: 50px;

}

section#about h3.section-subheading {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 50px;
  color: $secondary_3;
}



/*****    Services    *2***/

section#services {
  min-height: 100vh;
  padding: 75px;
  background-color: $primary_3;
}
section#services h2.section-heading {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 100px;
  color: $primary_4;
}

@media (min-width: 768px) {
  section#services {
    padding: 100px 0;
  }
}

section#services h4.service-heading {
  margin: 30px;
  text-transform: none;
  color: $primary_4;
}
section#services p.service-paragraphs {
  color: $secondary_2;
  margin: 35px;
}

section#services i.fa-circle {
  color: $primary_4;
}

section#services i.fa-desktop {
  color: $primary_1
}

section#services i.fa-cloud {
  color: $primary_1
}

section#services i.fa-code {
  color: $primary_1
}



/*****    Team    *****/

section#team {
  min-height: 100vh;
  background-color: $primary_1;
}

section#team .section-heading {
  font-size: 50px;
  margin: 100px;
  color: $primary_4;
}

section#team .section-subheading {
  margin-bottom: 50px;
  color: $primary_4;
}

section#team hr {
  width: 50%;
}

section#team .team-members {


}

section#team .team-member {
  text-align: center;
  margin-bottom: 50px;
}
section#team .team-member img {
  margin: 0 auto;
  border: 2px solid $primary_4;
}

section#team .team-member .member-name {
  margin-top: 20px;
  margin-bottom: 10px;
  color: $primary_4;
}

section#team .team-member p.member-title {
  margin-top: 0;
  color: $secondary_1;
  font-size: 14px;
}

section#team .team-member .team-image {
  height: 250px;
}

section#team .social-buttons a {
  color: $primary_2;
}








/*****    Contact    *****/
section#contact {
  min-height: 500px;
  background-color: $primary_2;
}

section#contact h2.section-heading {
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
  color: $secondary_2;
}

section#contact hr.primary {
 margin-top: 20px;
 margin-bottom: 20px;
 border-width: 3px;
 max-width: 100px;
 border: 1px solid $secondary_2;
}


section#contact .section-subheading {
  color: $secondary_2;
  margin: 50px;
}

section#contact .contact-icons {
  margin: 75px;
}


/*    Footer    */

footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: $primary_1;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: $primary_3;
  color: $primary_2;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
