// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* header */
.navbar {
  background-color: transparent;
  margin-bottom: 0px;
  padding-bottom: 0px;
}


.navbar a {
  color: '$secondary_3' ;
}
