<!-- About Section -->
    <section id="about">
        <div class="container about-section">
            <div class="row">
              <div class="col-lg-12 text-center">
                  <%= image_tag('Dittoh 3-Color Logo Varations-03-website.png', class: 'about-logo') %>
                  <h2 class="section-subheading">Dittoh uses Cloud Solutions and innovative technology to provide smarter, faster and better business solutions.</h2>
              </div>
            </div>
        </div>
    </section>
